.sidebar-nav {
  padding: 1rem;
  box-shadow: var(--shadow);
  background: var(--white);
  border-radius: 1.25rem;
}

.sidebar-nav .nav-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sidebar-nav .nav-item.current .nav-link {
  background: var(--coffee-foam);
  color: var(--black);
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  transition: all 0.3s var(--easeOutCubic);

  & span {
    font-weight: 600;
    font-size: 1.125rem;
  }

  & svg:last-child {
    margin-left: auto;
  }

  & svg:last-child {
    transition: all 0.3s var(--easeOutCubic);
  }

  &:is(:hover, :focus-within) {
    filter: brightness(90%);
  }

  &:is(:hover, :focus-within) svg:last-child {
    transform: translateX(0.5rem);
  }
}

.dark .sidebar-nav {
  background: var(--dark-theme-secondary-bg);
}
